internet/inverted_index_task/main.exe
internet.inverted_index_task/serialized.bin
inf_sys_des/read_diagram/.vscode
internet/inverted_index_task/.vscode/
internet/inverted_index_task/serialized.bin
internet/inverted_index_task/main
internet/inverted_index_task/serialized
internet/inverted_index_task/.serialized.bin.swp
internet/inverted_index_task/collection
internet/inverted_index_task/collection_hmtl
.vscode
internet/inverted_index_task/CMakeFiles
internet/inverted_index_task/CMakeCache.txt
internet/inverted_index_task/Makefile
internet/inverted_index_task/cmake_install.cmake
inf_sys_des/test_software/CMakeFiles
inf_sys_des/test_software/CMakeCache.txt
inf_sys_des/test_software/Makefile
inf_sys_des/test_software/cmake_install.cmake
inf_sys_des/test_software/test
internet/inverted_index_task/.cache/
internet/inverted_index_task/build/
internet/inverted_index_task/collection_html/
internet/inverted_index_task/index.html
internet/inverted_index_task/github.html
stopwords
collection
collection_html

